admin/index.html.erb
<% if flash[:error] %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="alert alert-info">
    <%= flash[:notice] %>
  </div> 
<% end %> 

<%= link_to "Create Admin", new_admin_path%> 
<%= link_to "Admin Login", login_admin_path%>
<%= link_to "Log Out", logout_admin_path%>