<div id='admin_login' class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Admin Form</h4>
        <% if flash[:error] %>
          <div class="alert alert-danger">
            <%= flash[:error] %>
          </div>
        <% end %>
        
        <% if flash[:notice] %>
          <div class="alert alert-info">
            <%= flash[:notice] %>
          </div> 
        <% end %> 
      </div>

      <div class="modal-body">
        <img src='/assets/carson.jpg'>
        <%= form_tag '/login_admin' do%>
          <%= label_tag :username, "Username" %>
          <%= text_field_tag :username, nil, placeholder: "Übermensch"%>
          <%= label_tag :password, "Password" %>
          <%= password_field_tag :password, nil, placeholder: "Votre Mot de Passe"%>
      </div>

      <div class="modal-footer">
          <%= submit_tag('Login', class: "btn btn-success")%>
        <%end%>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript"> 
    $(window).load(function(){
        $('#admin_login').modal({keyboard: false, backdrop: 'static'});
        $('#admin_login').modal('show');
      });
</script>